<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Add Offers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="{{asset("css1/bootstrap.min.css") }}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="{{asset("css1/style.css") }}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{asset("css1/morris.css") }}" type="text/css"/>
    <!-- Graph CSS -->
    <link href="{{asset("css1/font-awesome.css") }}" rel="stylesheet">
    <!-- jQuery -->
    <script src="{{ asset("js1/jquery-2.1.4.min.js") }}"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{{asset("css1/icon-font.min.css") }}" type='text/css' />
    <!-- //lined-icons -->
</head>
<body>
<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="mother-grid-inner">
            <!--header start here-->
            <div class="header-main">
                <div class="logo-w3-agile">
                    <h1><a href="{{ path('back_home') }}">Add Offer</a></h1>
                </div>

                <div class="w3layouts-left">

                    <!--search-box-->
                    <div class="w3-search-box">
                        <form action="#" method="post">
                            <input type="text" placeholder="Search..." required="">
                            <input type="submit" value="">
                        </form>
                    </div><!--//end-search-box-->
                    <div class="clearfix"> </div>
                </div>
                <div class="w3layouts-right">
                    <div class="profile_details_left"><!--notifications of menu start -->
                        <ul class="nofitications-dropdown">
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>You have 3 new messages</h3>
                                        </div>
                                    </li>
                                    <li><a href="#">
                                            <div class="user_img"><img src="{{asset("images1/in11.jpg") }}" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a></li>
                                    <li class="odd"><a href="#">
                                            <div class="user_img"><img src="{{asset("images1/in10.jpg") }}" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a></li>
                                    <li><a href="#">
                                            <div class="user_img"><img src="{{asset("images1/in9.jpg") }}" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a></li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">See all messages</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>You have 3 new notification</h3>
                                        </div>
                                    </li>
                                    <li><a href="#">
                                            <div class="user_img"><img src="{{asset("images1/in8.jpg") }}" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a></li>
                                    <li class="odd"><a href="#">
                                            <div class="user_img"><img src="{{asset("images1/in6.jpg") }}" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a></li>
                                    <li><a href="#">
                                            <div class="user_img"><img src="{{asset("images1/in7.jpg") }}" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a></li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">See all notifications</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">9</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>You have 8 pending task</h3>
                                        </div>
                                    </li>
                                    <li><a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar yellow" style="width:40%;"></div>
                                            </div>
                                        </a></li>
                                    <li><a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar green" style="width:90%;"></div>
                                            </div>
                                        </a></li>
                                    <li><a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar red" style="width: 33%;"></div>
                                            </div>
                                        </a></li>
                                    <li><a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar  blue" style="width: 80%;"></div>
                                            </div>
                                        </a></li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">See all pending tasks</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <!--notification menu end -->

                    <div class="clearfix"> </div>
                </div>
                <div class="profile_details w3l">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="{{ asset("images1/IMG_4786.JPG") }}" alt=""> </span>
                                    <div class="user-name">
                                        <p>Smida</p>
                                        <span>Administrator</span>
                                    </div>
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                                <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
                                <li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
            <!--heder end here-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('back_home') }}">Home</a><i class="fa fa-angle-right"></i>Offers <i class="fa fa-angle-right"></i> Add</li>
            </ol>
            <!--grid-->

            <div class="grid-form1">
                <h3>Form Element</h3>
                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        <form method="POST" class="form-horizontal" action="">
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label" >Duration</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="focusedinput" name="Duration" placeholder="">
                                </div>
                                <div class="col-sm-2">

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label"name="Discount" >Discount</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="focusedinput" placeholder="number" name="Discount">
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">%</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label" >Promotion For</label>

                                <div class="col-sm-8">
                                    <select name="selector55" id="selector1" class="form-control1">

                                        <option ></option>
                                        <option >Flight</option>
                                        <option>Hotel</option>
                                        <option>Host</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">List</label>

                                <div class="col-sm-8">
                                    <select name="List" id="selector1111" class="form-control1" >
                                        <optgroup label="Flights">
                                            {% for vol in vols %}
                                                <option>{{ vol.numvol }}</option>
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="Accomodations">
                                            {% for heb in heber %}
                                                <option>{{ heb.nom }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">Start Date</label>
                                <div class="form-group">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    <input  id="datepicker"  type="text" value="yyyy-mm-dd" name="Start_Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'yyyy-mm-dd';}" required="">

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">End Date</label>
                                <div class="form-group">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    <input  id="datepicker1"  type="text" value="yyyy-mm-dd" name="End_Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'yyyy-mm-dd';}" required="">

                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button class="btn-primary btn"name="Submit">Update</button>

                                        <input class="btn-primary btn" type="reset" value="Reset" id="nizar"/>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>


            </div>

            <!--//grid-->

            <!-- script-for sticky-nav -->
            <script>
                $(document).ready(function() {
                    var navoffeset=$(".header-main").offset().top;
                    $(window).scroll(function(){
                        var scrollpos=$(window).scrollTop();
                        if(scrollpos >=navoffeset){
                            $(".header-main").addClass("fixed");
                        }else{
                            $(".header-main").removeClass("fixed");
                        }
                    });

                });
            </script>
            <!-- /script-for sticky-nav -->
            <!--inner block start here-->
            <div class="inner-block">

            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="copyrights">
                <p>© 2017 . All Rights Reserved | Design by  <a href="" target="_blank">Smida Nizar</a> </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <!--//content-inner-->
    <!--/sidebar-menu-->
    <div class="sidebar-menu">
        <header class="logo1">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
        </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
            <ul id="menu" >
                <li><a href="{{ path('back_home') }}"><i class="fa fa-tachometer"></i> <span>Dashboard</span><div class="clearfix"></div></a></li>


                <li id="menu-academico" ><a href="inbox.html"><i class="fa fa-tachometer"></i><span>Inbox</span><div class="clearfix"></div></a></li>
                <li><a href="gallery.html"><i class="fa fa-tachometer" aria-hidden="true"></i><span>Gallery</span><div class="clearfix"></div></a></li>
                <li id="menu-academico" ><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i><span> Charts </span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                    <ul id="menu-academico-sub" >
                        <li id="menu-academico-avaliacoes" ><a href="{{ path('grapheChartLine') }}">Charts 1</a></li>
                        <li id="menu-academico-avaliacoes" ><a href="{{ path('piechart') }}">Charts 2</a></li>

                    </ul>
                </li>                <li id="menu-academico" ><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i><span> Accommodation </span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                    <ul id="menu-academico-sub" >
                        <li id="menu-academico-avaliacoes" ><a href="{{ path('listHotel') }}">Hotels</a></li>
                        <li id="menu-academico-avaliacoes" ><a href="{{ path('listHote') }}">Hosts</a></li>

                    </ul>
                </li>
                <li id="menu-academico" ><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i><span> Flights </span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                    <ul id="menu-academico-sub" >
                        <li id="menu-academico-avaliacoes" ><a href="{{ path('affichageVols') }}">Current Flights</a></li>
                        <li id="menu-academico-avaliacoes" ><a href="{{ path('affichagePast') }}">Past Flights</a></li>

                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-tachometer"></i><span>Offers</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                    <ul id="menu-academico-sub" >
                        <li id="menu-academico-avaliacoes" ><a href="{{ path('addoffre') }}">Add</a></li>
                        <li id="menu-academico-avaliacoes" ><a href="{{ path('listoffre') }}">View</a></li>

                    </ul>
                </li>
                <li id="menu-academico"><a href="{{ path('alistExperience') }}"><i class="fa fa-tachometer" aria-hidden="true"></i>  <span>Experiences</span><div class="clearfix"></div></a></li>
                <li id="menu-academico"><a href="{{ path('calendar') }}"><i class="fa fa-tachometer" aria-hidden="true"></i>  <span>Calendar</span><div class="clearfix"></div></a></li>

                <!-- <li><a href="maps.html"><i class="fa fa-map-marker" aria-hidden="true"></i>  <span>Maps</span><div class="clearfix"></div></a></li> -->


            </ul>
        </div>
    </div>
<div class="clearfix"></div>
</div>
<script>
    var toggle = true;

    $(".sidebar-icon").click(function() {
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }

        toggle = !toggle;
    });
</script>
<!--js -->
<script src="{{asset("js1/jquery.nicescroll.js") }}"></script>
<script src="{{asset("js1/scripts.js") }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{asset("js1/bootstrap.min.js") }}"></script>
<!-- /Bootstrap Core JavaScript -->
<link rel="stylesheet" href="{{asset("css/jquery-ui.css") }}" />
<script src="{{asset("js/jquery-ui.js") }}"></script>
<script>
    $(function() {
        $( "#datepicker,#datepicker1" ).datepicker();
    });
</script>
</body>
</html>